@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

*{
    box-sizing: border-box;
    padding:0;
    margin: 0;

}
body{
  background-color:whitesmoke;
  padding: 0;
  margin: 0;
}
.home{
     height: 100vh;
     width: 100% 100%;
     background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/images/home_img.jpg);
    
}
.home_text{
    position: absolute;
    transform: translate(70%, 125% );
    text-align: center;
    line-height: 50px;
    color: #fff;

}
 .home_text #logo{
   height: 9vh;
}
h1{
    padding: 0;
    text-align: center;
    line-height: 30px;
    font-family: 'Gabriela', serif;
    font-weight: 500;
    font-size: 35px;
}
p{
  font-family: 'Gabriela', serif;
  font-size: 17px;
  text-align: center;
}
.mouse-click{
    position: absolute;
    top:90%;
    left:50%;
    text-align: center;
    color: #fff;

}
.services{
  text-align: center;
}
 
.animate__animated.animate__bounce {
    --animate-duration: 2s;
  }
  
  
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  } 
  .my-element {
    --animate__infinite :	infinite ;
  }
  #about_us{
    line-height: 20px;
    letter-spacing: 0;
    margin-top: 50px;
  }
  #about_us p{
    font-size: 17px;
    text-align: center;
    color: black;
   
  }
 
  .services{
    background-image: url(/images/service_image.jpg);
    height: 55vh;
    width: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: 0%;
  }
  .services_text{
    color: #fff;
    text-align: center;
    margin-top: 50px;
     transform: translate(-5%,70%); 
    line-height: 20px;
    padding: 0;
  }
  .services_text p{
    font-size: 19px;
  }
  .container{
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    margin-right: auto;
    padding-left: 15px;
    margin-left: auto;
  }
  
  .skills{
    /* margin-top: 50px; */
    text-align: center;
    padding-top: 40px;
    font-family: 'Gabriela'serif;

   }
  
  .images{
    height: 40vh;
    width: 100% ;
    padding-top: 30px; 
   

  }
  .contact{
    margin-top: 50px;
    background-image: url(/images/contact_image.jpg);
    height: 70vh;
    width: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
  }
  #button{
    color: rgb(26, 23, 23);
    font-size: 20px;
    margin-top: 100px;
    right: 65%;
    color: #fff;
    
  }
  #design{
    display: none;
  }
 
  #development{
    display: none;
  }
  #product{
    display: none;
  }

  
  .form-group{
    box-sizing: border-box;
    font-size: 30px;
     /* box-shadow: 2px 2px 2px 2px;  */
    background-color: transparent;
  }
  input[type="text"], input[type="email"],#comment{
    background-color: transparent;
    
  
  }
  #Content {
    width: 30%;
    display: inline;
    font-size: 20px;
    
   
    
  }
  #Content:hover{
    background-color: white;
  }
  input[type="text"], input[type="email"]{
    display: inline-block;

  }
 
  .contact_text{
    text-align: center;
    transform: translate(0%, 30%);
   
  }
   footer{
    margin-top: 30px;
  } 
  