@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
*{
    box-sizing: border-box;
    padding:0;
    margin: 0;
/* body section */
}
body{
  background-color:whitesmoke;
  padding: 0;
  margin: 0;
}
/* home section */
.home{
     height: 100vh;
     width: 100% 100%;
     background-size: cover;
    background-repeat: no-repeat;
    background-image: url(home_img.jpg);
    
}
.home_text{
    position: absolute;
    transform: translate(70%, 125% );
    text-align: center;
    line-height: 50px;
    color: #fff;

}
 .home_text #logo{
   height: 9vh;
}
h1{
    padding: 0;
    text-align: center;
    line-height: 30px;
    font-family: 'Gabriela', serif;
    font-weight: 500;
    font-size: 35px;
}
p{
  font-family: 'Gabriela', serif;
  font-size: 17px;
  text-align: center;
}
.mouse-click{
    position: absolute;
    top:90%;
    left:50%;
    text-align: center;
    color: #fff;

}
.animate__animated.animate__bounce {
    --animate-duration: 2s;
  }
  
  
  :root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  } 
  .my-element {
    --animate__infinite :	infinite ;
  }
  /* about us section */
  #about_us{
    line-height: 20px;
    letter-spacing: 0;
    margin-top: 50px;
  }
  #about_us p{
    font-size: 17px;
    text-align: center;
    color: black;
   
  }
  /* services section */
  .services{
    text-align: center;
  }
  .services{
    background-image: url(/DELANI-STUDIO/images/service_image.jpg);
    height: 55vh;
    width: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: 0%;
  }
  .services_text{
    color: #fff;
    text-align: center;
    margin-top: 50px;
     transform: translate(-5%,70%); 
    line-height: 20px;
    padding: 0;
  }
  .services_text p{
    font-size: 19px;
  }
  h2{
    font-size: 20px;
    font-family: 'Gabriela', serif;
    font-weight: 900;
  }
  #design{
    display: none;
  }
 
  #development{
    display: none;
  }
  #product{
    display: none;
  } 
  /* skills section */
  .container{
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    margin-right: auto;
    padding-left: 15px;
    margin-left: auto;
  }
  
  .skills{
    
    text-align: center;
    padding-top: 40px;
    font-family: 'Gabriela'serif;

   }
  .col-md-3{
    margin-top: 20px;
  }
  
  .images{
   
    width: 100% ;
    backface-visibility: hidden;
    transition: .2s ease;
   

  }
  /* portfolio section */
  .portfolio{
    position: relative;
  }
 
  .text{
    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    width: 100% ; 
    opacity: 0;
    transition: .2s ease;
    background-color: grey;

  }
  .content{
    color:black;
    font-family: 'Delius Swash Caps', cursive;
    /* background-color: rgba(255, 255, 255, 0.456); */
    font-weight: bolder;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 900;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(0, 0, 0);
  }
  

  .portfolio :hover .images {
    opacity:1;
    
  }
  .portfolio:hover .text{
    opacity: 0.9;
     background-color: rgba(255, 255, 255, 0.456); 
  } 
  /* contact section */
  .contact{
    margin-top: 50px;
    background-image: url(/DELANI-STUDIO/images/contact_image.jpg);
    height: 70vh;
    width: 100% 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    
  }
  textarea{
    color:#fff;
    font-weight: 500;
    font-size: 25px;
    padding: 10px;
  }
  #button{
    color: rgb(26, 23, 23);
    font-size: 15px;
    float: inline-start;
    color: #fff;
    margin-top: 20px;
    width: 18%;
  }
 .form-group{
    box-sizing: border-box;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    
   
  }
  input[type="text"]{
    background-color: transparent;
  }
   input[type="email"]{
     background-color: transparent; 
    
  
  }
  
  
  input[type="text"], input[type="email"]{
    display: inline-block;
    

  }
 
  .contact_text{
    text-align: center;
    transform: translate(0%, 20%);
   
  }
   footer{
    margin-top: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  } 
  