@import url('https://fonts.googleapis.com/css2?family=Gabriela&display=swap');

*{
    box-sizing: border-box;
    padding:0;
    margin: 0;

}
.home{
     height: 100vh;
     width: 100% 100%;
     background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/images/home_img.jpg);
    
}
.home_text{
    position: absolute;
    transform: translate(75%, 85% );
    text-align: center;
    line-height: 50px;
    color: #fff;

}
 .home_text #logo{
   height: 9vh;
}
h1{
    padding: 10px;
    /* margin: 1px; */
    line-height: 30px;
    font-family: 'Gabriela', serif;
    font-weight: bold;
}